# Лабораторная работа к лекции 1
Ваше имя: Сергеева Анастасия

Ваш адрес электронной почты: sergeevaai036@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [2]:
# 1
a = 5
b = 3.14
sum = a + b
print(type(sum))  # class 'float'

<class 'float'>

In [3]:
# 2
a = 10
print(type(str(a)))  # class 'str'

<class 'str'>

In [4]:
# 3
str1 = "Sergeeva"
str2 = "Anastasiia"
result = str1 + str2
print(result)  # SergeevaAnastasiia

SergeevaAnastasiia

In [6]:
# 4
str1 = "World"
a = 3.14
sum = str1 + a
print(sum)  # can only concatenate str (not "float") to str

TypeError: can only concatenate str (not "float") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [8]:
def double_number(a, b):
    return a + b

print(double_number(1, 3))

4

In [10]:
def double_number(a, b):
return a + b # Выдает ошибку, поскольку return используется вне функции.

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-10-e91aba724e62>, line 2)

In [14]:
def double_number(c):
    c *= 2
    return c

c # name 'c' is not defined, область действия переменной внутри функции только

NameError: name 'c' is not defined

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [15]:
name = "Сергеева Анастасия"
age = 21
specialty = "Бизнес-Информатика"

In [21]:
months = age * 12
days = age * 365

print("Имя: ", name, ", Специальность: ", specialty, ", Возраст: ", age, " год, или ", months, " месяца, или ", days, " дней..", sep="")

Имя: Сергеева Анастасия, Специальность: Бизнес-Информатика, Возраст: 21 год, или 252 месяца, или 7665 дней..

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [29]:
# Ваш код
def f1(d, e):
    global g
    result = (d * e) / g
    return result

g = 5

In [30]:
# Первый набор переменных
d = 8
e = 4
print(f1(d, e))

6.4

In [31]:
# Второй набор переменных
d = 10
e = 2
print(f1(d, e))

4.0

In [32]:
# Третий набор переменных
d = 6
e = 3
print(f1(d, e))

3.6

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [33]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [34]:
for person, books in zip(people, books_read):
    if books == 0:
        print(f'{person} не читал ни одной книги!')
    else:
        print(f'{person} прочитал {books} книг')

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [35]:
def f2(people, books_read):
    for person, books in zip(people, books_read):
        if books == 0:
            print(f'{person} не читал ни одной книги!')
        else:
            print(f'{person} прочитал {books} книг')
f2(people, books_read)

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [40]:
sort = sorted(zip(books_read, people), reverse=True)[:3]

for books, person in sort:
    print(f'{person} прочитал {books} книг')

Yulia прочитал 15 книг
Krishnang прочитал 12 книг
Robert прочитал 10 книг